{% extends "main/wrapper.html" %}
{% block content %}
<h3>Контактыная информация :</h3>
<h5><i class="fa fa-pencil">
</i>Наш адресс:<br><span></span> <span><a href="/"></span><span>Uzbekistan</span></h5></a>
<h5><i class="fa fa-envelope"></i>Наш почтовый ящик:<br><a href="mailto:info@diafish.com" title="info@diafish.com" >info@diafish.com</a></h5>
<h5><i></i><a href="https://t.me/diafishbot">Наш телеграмм бот</a></h5>
<h5><i class="fa fa-phone"></i>Наши контактные номера:<br><a href="tel:+998903259534" title="+998903259534">Мобильный : +99890 3259534</a></h5>

{% endblock %}