{% extends "main/wrapper.html" %}
{% block head %}
<h1>DiaFish</h1>
{% endblock %}
{% block content %}
<h3>Здравствуйте дорогой пользователь , вы перешли на сайт компании DiaFish .
</h3>
<br>

{% endblock %}
{% block footer %}
 <!-- Example row of columns -->
 <div class="row">
        <div class="col-md-4">
          <h2>Что-то</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#" role="button">Что-то »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Что-то</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#" role="button">Что-то »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Что-то</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#" role="button">Что-то »</a></p>
        </div>
      </div>
      <br>
      <hr>
      <div class="row featurette">
        <div class="col-md-7">
          <br>
          <h2 class="featurette-heading">Наш адресс на <span class="text-muted"> Yandex Map : </span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
            <img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=400&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" />
        </div>
      </div>
{% endblock %}